.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.compare-button {
  background-color: rgba(255, 99, 71, .5);
  border: none;
  border-radius: 5px;
  outline: none;
  color: #f2f2f2;
}

.compare-button:hover {
  background-color: rgba(255, 99, 71, .8);
}

.compare-button.selected {
  background-color: rgba(255, 99, 71, .8);
}

.compare-button.selected:hover {
  background-color: rgba(255, 99, 71, .5);
}
