.school-card-container {
  align-items: center;
  border: 1px solid #505050;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
  width: 130px;
}

.school-name {
  margin: 0;
}