.school-container {
  padding: 5px 0 10px;
  line-height: normal;
}

.results-fields {
  margin: 2px 0;
}

.selected {
  background: rgba(255, 99, 71, .8);
  border-radius: 2px;
  position: relative;
  left: -20px;
  padding-left: 20px;
  width: 110%;
}
