.sign-in-container {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  position: fixed;
  z-index: 10;
  padding: 5px;
  top: 30%;
  left: 37vw;
  width: 310px;
  background: rgba(198, 218, 240, 1);
  border-radius: 8px;
  text-align: center;
}

.lock-page {
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 5;
  background-color: none;
}

h2.sign-in-container {
  margin: 20px 0 10px;
}

p.alt-login {
  color: dodgerblue;
  font-size: 13px;
  margin-bottom: 20px;
  text-decoration: underline;
}

p.alt-login:hover {
  font-weight: bold;
}

.google-btn-img {
  transform: scale(.7);
  width: inherit;
}

.google-btn-img:hover {
  transform: scale(.8);
  opacity: .9;
}
