h3 {
  margin: 5px;
}

p {
  margin: 5px;
}

.compare-container {
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: flex;
  position: fixed;
  bottom: 5px;
  right: 8.5vw;
  width: 83vw;
  height: 88vh;
  background: rgba(198, 218, 240, 1);
  border-radius: 8px;
  padding: 0 20px 6px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.compare-tab-container p {
  display: inline-block;
  width: auto;
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: 45px;
}

.compare-tab-container img {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center;
  float: right;
  margin-right: 15px;
  margin-top: 4px;
}

.slide-compare-btn {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 10vw;
  bottom: 89vh;
  height: 35px;
  width: 320px;
  background-color: rgba(255, 99, 71, .8);
  border: none;
  border-radius: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slide-compare-btn:hover {
  background: rgba(255, 99, 71, 1);
}

.hidden-compare {
  -webkit-transform: translate3d(0,88vh,0);
  -moz-transform: translate3d(0,88vh,0);
  -o-transform: translate3d(0,88vh,0);
  -ms-transform: translate3d(0,88vh,0);
  transform: translate3d(0,88vh,0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
