.filter-container {
  position: fixed;
  left: 0;
  top: 8vh;
  z-index: 1;
  height: 82vh;
  background: rgba(198, 218, 240, .9);
  border-radius: 8px;
  margin-left: 12px;
  padding: 10px 20px;
  min-width: 300px;
}

.filter-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  margin: 8px 0 0;
  text-align: center;
}

.filter-fields {
  font-family: 'Quicksand', sans-serif;
  margin: 20px 0;
}

.filter-fields h4 {
  font-size: 14px;
  margin: 15px 0 0;
}


.slider {
  margin-top: 15px;
  width: 100%;
}

.slider-data {
  text-align: center;
  margin: 0px 0 10px;
}

.search-btn {
  margin-top: 10px;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border-style: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.search-btn:hover {
  border: 3px solid gray;
  background-color: darkgray
}

.filter-back-btn {
  background: none;
  border: none;
  margin-top: 15px;
}

.filter-back-btn:hover {
  font-weight: bolder;
}
