.filter-container {
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  left: 0;
  top: 8vh;
  z-index: 1;
  height: 84.5vh;
  max-height: 545px;
  background: rgba(198, 218, 240, .95);
  border-radius: 8px;
  margin-left: 12px;
  padding: 0 20px 6px 20px;
  width: 260px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.slide-filter-btn {
  z-index: 1;
  position: fixed;
  left: 310px;
  top: 11vh;
  padding: 15px 7px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  background-color: rgba(255, 99, 71, .8);
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slide-filter-btn:hover {
  background: rgba(255, 99, 71, 1);
}

.hidden {
  -webkit-transform: translate3d(-295px,0,0);
  -moz-transform: translate3d(-295px,0,0);
  -o-transform: translate3d(-295px,0,0);
  -ms-transform: translate3d(-295px,0,0);
  transform: translate3d(-295px,0,0);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.filter-header {
  font-size: 30px;
  margin: 8px 0 0;
  text-align: center;
}

.filter-fields {
  margin: 10px 0;
}

.filter-fields h4 {
  font-size: 16px;
  margin: 10px 0 0;
}

#homeAddress {
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 20px;
}

select {
  height: 22px;
  width: 50%;
  border: none;
}

label {
  font-size: 14px;
}

.slider {
  margin-top: 10px;
  width: 100%;
}

.slider-data {
  text-align: center;
  margin: 0px 0 5px;
}

.search-btn {
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border-style: none;
  font-size: 20px;
  font-weight: bolder;
  background: rgba(255, 99, 71, .6);
}

.search-btn:disabled:hover {
  background: rgba(255, 99, 71, .6)
}

.search-btn:hover {
  background: rgba(255, 99, 71, .9);
}

.results-header-container {
  position: sticky;
  top: 0;
  padding-top: 10px;
  background-color: rgba(198, 218, 240, 1);
}

.filter-back-btn {
  background: none;
  border: none;
  margin: 10px 0 10px 70px;
  color: rgba(255, 99, 71, .8);
  font-size: 16px;
}

.filter-back-btn:hover {
  transform: scale(1.1);
}

:hover {
  cursor: pointer;
}
