.school-card-container {
  align-items: center;
  border: 1px solid #505050;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin: 15px;
  padding: 5px;
  width: 150px;
}

.school-name {
  font-size: .8em;
  margin: 0;
}

.fav-commute-data {
  font-size: .75em;
}
